.update{
    background-color: black;
    padding: 2vh;
    color: white;
    position: absolute;
    top: 4vh;
    /* left: 10vh; */
    width: 100%;
    display: none;
}
.course-management{
    font-size: 5vh !important;
    margin-bottom: 5vh !important;
}