:root{
    --primary-color:black;
    --secondary-color:white;
}

*{
    color: var(--secondary-color);
    font-family: monospace;
}
a{
    text-decoration: none;
    font-weight: bolder;
}
.header{
    padding: 3vh 0vh;
    /* background-color: black; */
   
}
.background{
    transition: 2s ease;
}
.title-header{
    padding: 2vh;
    font-weight: bolder;
    color: rgb(45, 80, 80);
    font-family: monospace;
}
.heading{
    font-weight: 900;
    font-size: 10vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.sign-in:hover .arrow-left  {
   padding-left: 1vh;

}
.arrow-left{
    transition: .5s ease-in-out;
}
.card-image{
   text-align: center;
   margin: 1vh 0 ;
}
.card-title{
 
}
.about-image{
    background-image: url("src\assets\3785210-removebg-preview.png");
    background-position: center;
    background-size: cover;
}
.course-heading{
    text-align: center;
}
.home-image{
    background-image: url("src\assets\14245130_MyApril8-removebg-preview.png");
    background-position: center;
    background-size: cover;
}

.card:hover{
    box-shadow:0px 5px 5px #3330302b;
position: relative;
bottom: 2vh;

}

label {
    width: 6vh;
    height:3vh;
    position: relative;
    bottom: 3vh;
    display: block;
    background: #ebebeb;
    border-radius: 200px;
    box-shadow: inset 0px 5px 15px rgba(0,0,0,0.4), inset 0px -5px 15px rgba(255,255,255,0.4);
    cursor: pointer;
  }
  label:after {
    content: "";
    width:3vh;
    height: 3vh;
    position: absolute;
    background: linear-gradient(180deg,#ffcc89,#d8860b);
    border-radius: 180px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
  }
  input {
    width: 0;
    height: 0;
    visibility: hidden;
  }
  input:checked + label {
    background: #242424;
  }
  input:checked + label:after {
    left:20px;
    /* transform: translateX(100%); */
    background: linear-gradient(180deg,#777,#3a3a3a);
  }
  label, label:after {
    transition: 1s
  }
  label:active:after{ 
    width: 3vh; 
  }
  label svg {
    position: absolute;
    width: 20px;
    /* top:40px; */
    z-index: 100;
  }
  label svg.sun {
    left:10px;
    fill:#fff;
    transition: 1s;
  }
  label svg.moon {
    left:5vh;
    fill:#7e7e7e;
    transition: 0.3s;
  }
  input:checked + label svg.sun {
    fill:#7e7e7e;
  }
  input:checked + label svg.moon {
    fill:#fff;
  }
 