*{
    color: black;
    font-family: monospace;
}
a{
    text-decoration: none;
    font-weight: bolder;
}
.header{
    padding: 3vh 0vh;
    /* background-color: black; */
   
}

.title-header{
    padding: 2vh;
    font-weight: bolder;
    color: rgb(45, 80, 80);
    font-family: monospace;
}
.heading{
    font-weight: 900;
    font-size: 10vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.sign-in:hover .arrow-left  {
   padding-left: 1vh;

}
.arrow-left{
    transition: .5s ease-in-out;
}
.card-image{
   text-align: center;
   margin: 1vh 0 ;
}
.card-title{
 
}
.about-image{
    background-image: url("src\assets\3785210.jpg");
    background-position: center;
    background-size: cover;
}
.course-heading{
    text-align: center;
}
.home-image{
    background-image: url("src\assets\14245130_MyApril8.jpg");
    background-position: center;
    background-size: cover;
}

.card:hover{
    box-shadow:0px 5px 5px #3330302b;
position: relative;
bottom: 2vh;

}