<div class="container">

    <div class="container-fluid header">
        <div class="container" >
        <div class="row">
            <div class="col-2 title">
                PROXOLO
            </div>
            <div class="col-6 offset-md-1">
                <div class="row">
                <div class="col"><span><a href="">Courses</a></span></div>
                <div class="col"><span><a href="">reviews</a></span></div>
                <div class="col"><span><a href="">Contacts</a></span></div>
            </div>
            </div>
            <div class="col-2 offset-md-1">
                <div class="row">
                    <div class="col"><i class="fa-solid fa-magnifying-glass"></i></div>
                    <div class="col"><i class="fa-regular fa-heart"></i></div>
                    <div class="col"><a href="login"><i class="fa-regular fa-user"></i></a></div>
                    <div class="col"><i class="fa-solid fa-cart-shopping"></i></div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col"></div>
                </div>
            </div>
        </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="row">
                <span class="title-header">E-learning platform</span>
            </div>
            <div class="row">
                <span class="heading">
                    Learning and teaching online,
                    made easy.
                </span>
                <p class="heading-description fw-light">
                    Gain subject certification with proxolo
                </p>
            </div>
            <div class="row">
                <div class="col">
                    <a class="sign-in" href="login ">sign in <span class="arrow-left">&#8594;</span></a>
                </div>
            </div>
            <div class="row counters">
                <div class="col"><span class="courses"><img src="https://img.icons8.com/external-others-inmotus-design/67/null/external-Lightning-basic-ui-elements-others-inmotus-design.png"/><span class="course-number">99+</span>  courses</span></div>
                <div class="col"><span class="users">1M+ Active Users</span></div>
            </div>

        </div>
        <div class="col">
            <div class="profile">
                
            </div>
        </div>
    </div>
</div>